/****************
        body
****************/
body{
    font-family: "Microsoft YaHei" ! important;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
/*.loading-modal {*/
    /*display:    none;*/
    /*position:   fixed;*/
    /*z-index:    1000;*/
    /*top:        0;*/
    /*left:       0;*/
    /*height:     100%;*/
    /*width:      100%;*/
    /*background: rgba( 255, 255, 255, .8 )*/
    /*url('../images/common/loading1.gif')*/
    /*50% 50%*/
    /*no-repeat;*/
/*}*/

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading-modal {
    display: block;
}
/****************
     time dropdown
****************/
.page-content .dropdown{
    margin-bottom: 10px;
}

.my-chart-400{
    height:400px;
}